:root {
  --bgColor: #22272B;
  --secondaryTxt: #FFBE00;
  --primaryTxt: #FFFFFF;
}

#uploadPreview{
  width:250px; 
  height:auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--primaryTxt);
}

.crudLink i{
  color: #A9B5BD;
  transition: color .5s;
  animation-timing-function: ease-in-out;
}

.crudLink i:hover{
  color: var(--secondaryTxt)
}