:root {
  --bgColor: #22272B;
  --secondaryTxt: #FFBE00;
  --primaryTxt: #FFFFFF;
}

#uploadPreview{
  width:250px; 
  height:auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--primaryTxt);
}

.crudLink i{
  color: #A9B5BD;
  transition: color .5s;
  animation-timing-function: ease-in-out;
}

.crudLink i:hover{
  color: var(--secondaryTxt)
}

#particles-js{
  height: 100%;
  background-color: #212529;
  background-size:fill;
  background-repeat: repeat-y;
  
}

#container, #particle-js {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
}

#form-container {
  background-color: #212529;
}

.card {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 40vh;
  gap: 0.5rem;
  background-color: var(--primaryTxt);
  color: var(--bgColor);
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.card {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 40vh;
  gap: 0.5rem;
  background-color: var(--primaryTxt);
  color: var(--bgColor);
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  /* box-shadow: 3px 3px 6px 1px var(--secondaryTxt);
  border: 1px solid transparent; */
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

#toolImage {
  height: 5vh;
  width: auto;
  object-fit: contain;
}